
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */